body {
    font-family: Arial, sans-serif;
    background-color: #e1f5fe; /* Azul muy claro de fondo */
    color: #333; /* Color de texto gris oscuro */
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000; /* Título en negro */
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    gap: 20px; /* Espacio entre columnas */
}

.contenedor > div {
    width: 48%;
    padding: 20px;
    border: 1px solid #ffeb3b; /* Borde amarillo */
    border-radius: 5px; /* Esquinas redondeadas */
    background-color: #fff9c4; /* Fondo amarillo muy claro para el contenido */
    overflow: hidden; /* Eliminar el desplazamiento */
}

label {
    font-weight: bold;
    color: #424242; /* Gris oscuro para mejor legibilidad */
}

textarea {
    width: 100%;
    height: 150px; /* Altura ajustada para un diseño minimalista */
    border: 1px solid #ffeb3b; /* Borde amarillo */
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    background-color: #ffffff; /* Fondo blanco para el textarea */
}

button {
    background-color: #ffeb3b; /* Amarillo brillante */
    color: #333; /* Color del texto gris oscuro */
    border: none;
    border-radius: 5px; /* Esquinas redondeadas */
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #fdd835; /* Amarillo más oscuro al pasar el ratón */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed;
}

th, td {
    border: 1px solid #ffeb3b; /* Borde amarillo */
    padding: 10px;
    text-align: center;
    overflow: hidden; /* Evita el desbordamiento del texto */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
    white-space: nowrap;
}

th {
    background-color: #ffeb3b; /* Amarillo brillante */
    color: #333; /* Texto gris oscuro */
}
